<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Visualization Test</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<div class="heading"><h1> {{align_type}} results for {{seqid}} - {{pdb}} colored by {{metric}} </h1></div>
	</div>

	<!-- add more information? -->

	<!-- Load ngl.js file that contains the relevant nglview functions -->
	
	<!-- ngl.js downloaded from https://github.com/nglviewer/ngl/tree/master/dist -->
	<!-- <script src="js/ngl.js"></script> -->
	
	<!-- ngl.js file associated with a working example online -->
	<!-- <script type='text/javascript' src="https://www.mdanalysis.org/js/build/ngl.embedded.min.js"></script> -->

	<!-- ngl.js file associated with a working example online -->
	<script type='text/javascript' src="https://ambermd.org/tutorials/analysis/tutorial_notebooks/nglview_notebook/ngl.embedded.min.js"></script>
	<!-- Just some text to show that flask is passing arguments to the html -->
	<ul><li>Visualizing {{pdb}} colored by {{metric}}</li></ul>
	<!-- Add a shortcut to file positions... -->
	<script>
		
		// trying to point to files on the local computer; just testing

		NGL.DatasourceRegistry.add( "local", new NGL.StaticDatasource( "file:///home/rbdavid/Scripts/git/structural_DLFA/website/templates/test_data/" ));
		
		// setting up the NGL viewer stage, called viewport	
		
		document.addEventListener("DOMContentLoaded", function () {
			var stage = new NGL.Stage("viewport");
			//stage.loadFile("local://{{pdb_file}}").then(function (o) {
			stage.loadFile("rcsb://{{pdb}}").then(function (o) {
				o.addRepresentation("cartoon", {color: "bfactor"})
				//o.autoView()
			})
				//{defaultRepresentation: true});
			// stage.loadFile("local://{{pdb_file}}", {defaultRepresentation: true});
		});
	</script>
	<!-- html to create the viewport object-->
	<div id="viewport" style="width:800px; height:600px;"></div>
</body>
</html>





<!--  if( !Detector.webgl ) Detector.addGetWebGLMessage();

  NGL.mainScriptFilePath = "/js/build/ngl.embedded.min.js";

  function onInit(){
	  var stage = new NGL.Stage( "viewport" );
	  stage.loadFile( "/public/data/md_1u19.pdb", { defaultRepresentation: true } );
	  stage.setTheme( "light" )

      window.addEventListener( "resize", function( event ){
         stage.handleResize();
      }, false );

      stage.viewer.container.addEventListener( "dblclick", function(){
         stage.toggleFullscreen();
      } );
  }

  document.addEventListener( "DOMContentLoaded", function() {
	  NGL.init( onInit );
  } );
-->

