<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Query Output</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="heading"><h1>SAdLSA Alignment Query Results</h1></div>
</div>
<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Protein</th>
        <th scope="col">Alignment<br/>Number</th>
        <th scope="col">2nd Protein</th>
        <th scope="col">naln</th>
        <th scope="col">score</th>
        <th scope="col">tms1</th>
        <th scope="col">tms2</th>
        <th scope="col">sid</th>
        <th scope="col">Ind</th>
        <th scope="col">Res1</th>
        <th scope="col">AA1</th>
        <th scope="col">Res2</th>
        <th scope="col">AA2</th>
        <th scope="col">MeanDist</th>
        <th scope="col">Bin</th>
        <th scope="col">Prob<3</th>
        <th scope="col">Prob<5</th>
        <th scope="col">Prob<8</th>
        <th scope="col">S</th>
    </tr>
    </thead>
    <tbody>
            {% for row in results %}
    <tr>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>{{ row.4 }}</td>
        <td>{{ row.5 }}</td>
        <td>{{ row.6 }}</td>
        <td>{{ row.7 }}</td>
        <td>{{ row.8 }}</td>
        <td>{{ row.9 }}</td>
        <td>{{ row.10 }}</td>
        <td>{{ row.11 }}</td>
        <td>{{ row.12 }}</td>
        <td>{{ row.13 }}</td>
        <td>{{ row.14 }}</td>
        <td>{{ row.15 }}</td>
        <td>{{ row.16 }}</td>
        <td>{{ row.17 }}</td>
        <td>{{ row.18 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>
